<header>Today the TSA Cost Me!</header>
<form cdkTrapFocus [cdkTrapFocusAutoCapture]="true" (ngSubmit)="handleSubmit()" [formGroup]="formGroup">
  <fieldset>
    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{key2Title['when']}}</mat-label>
        <input matInput [formControl]="dateFormControl" [matDatepicker]="datePicker" (focus)="datePicker.open()">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker (closed)="airportElement.focus()"></mat-datepicker>
        <mat-error *ngIf="getErrorString(dateFormControl) as errorString">
          {{errorString}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{key2Title['where']}}</mat-label>
        <input #airportElement type="text" matInput [formControl]="airportFormControl"
               [matAutocomplete]="autocompleteAirport">
        <mat-autocomplete #autocompleteAirport="matAutocomplete" autoActiveFirstOption
                          [displayWith]="airportDisplayFunc">
          <mat-option *ngFor="let airport of filteredAirports | async" [value]="airport">
            <b>{{airport.iata_code}}</b> {{airport.name}}
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="getErrorString(airportFormControl) as errorString">
          {{errorString}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{key2Title['what']}}</mat-label>
        <input matInput placeholder="" type="search" [formControl]="itemFormControl" cdkFocusInitial autofocus>
        <mat-error *ngIf="getErrorString(itemFormControl) as errorString">
          {{errorString}}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>{{key2Title['howMuch']}}</mat-label>
        <input matInput placeholder="" type="text" [formControl]="amountFormControl"
               prefix="$" mask="separator.2" thousandSeparator="," (focus)="$any($event.target).select()">
        <mat-error *ngIf="getErrorString(amountFormControl) as errorString">
          {{errorString}}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="outline">
        <mat-label>{{key2Title['comment']}}</mat-label>
        <textarea matInput cdkTextareaAutosize></textarea>
      </mat-form-field>
    </div>

    <div>
      <button mat-raised-button type="submit" [disabled]="formGroup.invalid" [matTooltip]="getTooltipText()">
        Submit!
      </button>
    </div>
  </fieldset>
</form>
